body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:beige;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color:seagreen;
    text-align: center;
}

.titlePageElement {
    text-align: center;
}

.playerElement {
    text-align: center;
}

#wordResponse {
    font-size: 30px;
}

#enteredLetters {
    font-size: 40px;
}
#title {
    font-size: 900%;
    color: white;
}

.highScoreHeader {
    text-align: center;
}

#highScoreTable {
  border-collapse: separate;
  border-spacing: 50px 0;
}

#playerColumn {
    padding: 10px 0;
    text-align:center;
}

#pointsColumn {
    padding: 10px 0;
    text-align:center;
}

.btn-sq-lg {
  width: 100px !important;
  height: 100px !important;
  font-size: 200%;
}

#clickButton {
  width: 400px !important;
  height: 100px !important;
  font-size: 300%;
}

#timer {
    font-size: 30px;
}

#pointsThisRound {
    font-size: 20px;
}

#playerOne {
    font-size: 30px;
}

#playerTwo {
    font-size: 30px;
}
