@model Razzle.Models.Turn

@{ 
    ViewBag.Title = "HighScore";
}

<div ng-controller="HighScoreCtrl as highScoreCtrl">
    <div>{{highScoreCtrl.test}}</div>
    <div>{{highScoreCtrl.rawGameResults}}</div>
</div>

