<h1 class="playerElement">Enter Your Name:</h1>
<div class="row">
    <div class="col-md-6">
    <h1 class="playerElement">Player One</h1>
    <p class="playerElement"><input type="text" ng-model="playerCtrl.nameOne" required /></p></div>
    <div class="col-md-6">
    <h1 class="playerElement">Player Two</h1>
    <p class="playerElement"><input type="text" ng-model="playerCtrl.nameTwo" required /></p></div>
</div>
    <div class="playerElement"><a href="#/Game"><button ng-click="playerCtrl.setPlayerValue(playerCtrl.nameOne, playerCtrl.nameTwo)">GO TO GAMEBOARD</button></a></div>



